<!DOCTYPE html>
<html>

<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/jgami-badges.css}" />
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
    <title>JTechLog Badges</title>
</head>

<body>

<div class="content">

    <div class="footer" th:fragment="footer">JTechLog Badges, Viczián István, 2016.</div>

</div>

</body>
</html>