<!DOCTYPE html>
<html>

<head th:include="template :: head"></head>

<body>

<div th:include="template :: menu"></div>

<div class="container">

    <h2>Kérelmek</h2>

    <div class="alert alert-success" role="alert" th:if="${message}" th:text="#{${message}}">Saved</div>

    <form th:action="@{/admin/approve}" th:object="${approveForm}" method="post">

        <table class="table table-hover">

            <tr>
                <th></th>
                <th>Név</th>
                <th>E-mail</th>
                <th>Kurzus</th>
            </tr>

            <tbody>
            <th:block th:each="badgeRequest: ${badgeRequests}">
                <tr>
                    <td>
                        <input type="checkbox" th:field="*{ids}" th:value="${badgeRequest.id}"/>

                    </td>
                    <td th:text="${badgeRequest.name}"></td>
                    <td th:text="${badgeRequest.email}"></td>
                    <td th:text="${badgeRequest.courseName}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>

        <button type="submit" class="btn btn-primary">Jóváhagyom</button>

    </form>

</div>

</body>
</html>