<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/jgami-badges.css}" />

    <title>JTechLog Badges</title>
</head>
<body>

<div class="container" role="main">
    <div class="jumbotron">
        <div class="row text-center"><img src="/images/jtechlog.png" alt="JTechLog Badges"/></div>
        <h1>JTechLog Badges</h1>
        <p>Gyűjts az oktatásokkal jelvényeket, oszd meg másokkal, juss hozzá egyedi
            tartalmakhoz, és legyél egy Java közösség tagja!</p>
        <a href="http://www.jtechlog.hu" class="btn btn-primary">Követem a blogot</a>
    </div>

    <div class="alert alert-success" role="alert" th:if="${message}" th:text="${message}">Saved</div>

    <form role="form" method="post" th:action="@{/}" th:object="${badgeRequestForm}">
        <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error'">
            <label for="email">Email cím</label>
            <input name="email" type="email" class="form-control" id="email" placeholder="Email címed"
                   th:field="*{email}"/>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
            <label for="name">Név</label>
            <input name="name" type="text" class="form-control" id="name" placeholder="Neved" th:field="*{name}"/>
        </div>

        <div class="form-group">
            <label for="course">Tanfolyam</label>
            <select name="course" class="form-control" id="course" th:field="*{courseId}">
                <option th:each="course : ${courses}"
                        th:value="${course.id}"
                        th:text="${course.name}">Englishy
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Kérem a jelvényt</button>
    </form>

    <div class="footer">JTechLog Badges, Viczián István, 2016.</div>

</div>

</body>
</html>