<!DOCTYPE html>
<html>
<head th:include="public-template :: head"></head>
<body>

<div class="container" role="main">
    <div class="jumbotron">
        <div class="row text-center"><img src="/images/jtechlog.png" alt="JTechLog Badges"/></div>
        <h1>JTechLog Badges</h1>
        <p>Gyűjts az oktatásokkal jelvényeket, oszd meg másokkal, juss hozzá egyedi
            tartalmakhoz, és legyél egy Java közösség tagja!</p>
        <a th:href="@{/about}" class="btn btn-primary">Még több információt</a>
        <a href="http://www.jtechlog.hu" class="btn btn-primary">Követem a blogot</a>
    </div>

    <div class="alert alert-success" role="alert" th:if="${message}" th:text="#{${message}}">Saved</div>

    <form role="form" method="post" th:action="@{/}" th:object="${badgeRequestForm}">
        <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error'">
            <label for="email">Email cím</label>
            <input name="email" type="email" class="form-control" id="email" placeholder="Email címed"
                   th:field="*{email}"/>
            <span class="help-block"
                  th:if="${#fields.hasErrors('email')}"
                  th:errors="*{email}">
                Incorrect
        </span>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
            <label for="name">Név</label>
            <input name="name" type="text" class="form-control" id="name" placeholder="Neved" th:field="*{name}"/>
            <span class="help-block"
                  th:if="${#fields.hasErrors('name')}"
                  th:errors="*{name}">
                Incorrect
        </span>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('courseId')} ? 'has-error'">
            <label for="course">Tanfolyam</label>
            <select name="course" class="form-control" id="course" th:field="*{courseId}">
                <option th:each="course : ${courses}"
                        th:value="${course.id}"
                        th:text="${course.name}">Englishy
                </option>
            </select>
            <span class="help-block"
                  th:if="${#fields.hasErrors('courseId')}"
                  th:errors="*{courseId}">
                Incorrect
        </span>
        </div>
        <button type="submit" class="btn btn-primary">Kérem a jelvényt</button>
    </form>

    <div class="row text-center about">
        <a href="https://github.com/vicziani"><i class="fa fa-github"></i></a>
        <a href="https://twitter.com/vicziani"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/viczianistvan"><i class="fa fa-linkedin"></i></a>
    </div>

    <div th:replace="public-template :: footer"></div>

</div>

</body>
</html>