<!DOCTYPE html>
<html>
<head th:include="public-template :: head"></head>
<body>

<div class="container theme-showcase" role="main">
    <div class="page-header">
        <h1>JTechLog Badges</h1>
    </div>

    <div class="media">

        <div class="pull-left" href="#">
            <img class="media-object" src="/images/jtechlog.png" alt="JTechLog Badge" />
        </div>

        <div class="media-body">
            <dl class="dl-horizontal">
                <dt>Név</dt>
                <dd th:text="${course.name}"></dd>
                <dt>Időpont</dt>
                <dd th:text="${course.start} + ' - ' + ${course.end}"></dd>
                <dt>Leírás</dt>
                <dd th:text="${course.description}"></dd>
            </dl>
        </div>
    </div>

    <div th:replace="public-template :: footer"></div>

</div>

</body>
</html>
